@media screen and (max-width: 1366px) {
  .ucn-container-right{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
  }
}

/*
@media screen and (max-width: 1200px) {
  .ucn-header {
    .ivu-menu-item,
    .ivu-menu-submenu{
      padding-left: 1.7vw!important;
    }
  }
}

@media screen and (min-width: 980px) {
  .mobile-show-lg{
    display: none!important;
  }
}
@media screen and (max-width: 980px) {
  .mobile-hide-lg{
    display: none!important;
  }

  .ucn-menu{
    .ivu-menu{
      max-width: 180px!important;
    }
  }

  .main-container{
    padding-left: 180px!important;
  }
}
*/
